.container{
    background-color: aliceblue;
    height: 100%;
}
.qcard{
    background-color: white;
    box-shadow: #858585d4 3px 5px 5px 0px;
    padding: 10px;
    width: 80vw;
    border: 1px solid #80808096;
    margin-bottom: 10px;
}

.qcard li {
    cursor: pointer;
    padding: 12px;
    margin: 8px;
    transition: all 400ms cubic-bezier(0.74, -0.3, 1, 1)
}

.error {
    background-color: rgb(204, 53, 53);
    color: white;
    transform: scale(1.1);
    box-shadow: #858585d4 3px 5px 5px 0px;
    border-radius: 6px;

}
.correct {
    background-color: rgb(53, 228, 82);
    color: white;
    transform: scale(1.1);
    box-shadow: rgba(53, 228, 82, 0.423) 3px 5px 5px 0px;
    border-radius: 6px;

}