body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #658fff;
  overflow: hidden;
}
.main-container {
  background: #658fff !important;
  height: 100vh;
  width: 100vw;
}
